@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #68a2ca;
}

.button:focus {
  box-shadow: 0 0 0 3px #756257;
  outline: none;
  background-color: #68a2ca;
}

.button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.4);
}

.page-header {
  padding: 0 72px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 200px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: -16px;
  margin-right: 16px;
}

.navigation-item {
  display: flex;
  align-items: center;
}

.navigation-link {
  display: block;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 13px;
  color: #000000;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: -7px;
  color: #756257;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  right: 16px;
  bottom: -10px;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.logo-icon {
  display: block;
  margin-bottom: -5px;
}

.navigation-user {
  display: flex;
  align-content: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-user-item {
  display: grid;
  place-content: center;
  position: relative;
  margin-right: 13px;
}

.navigation-icon-button {
  position: relative;
  display: grid;
  place-content: center;
  width: 37px;
  height: 37px;
  border-radius: 13px;
  color: #000000;
}

.navigation-icon-button:hover {
  color: #756257;
}

.navigation-icon-button:focus {
  color: #756257;
  outline: 3px solid #68a2ca;
  outline-offset: -3px;
}

.icon-button-counter {
  position: absolute;
  top: 0;
  right: -3px;
  min-width: 19px;
  height: 19px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 58%;
  text-align: center;
  font-size: 10px;
  line-height: 19px;
}

.modal-button {
  display: block;
  background-color: #756257;
  border-radius: 4px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 34px 10px 34px;
  margin: 9px 0 13px 0;
  margin-left: 10px;
}

.modal-button:hover {
  background-color: #615048;
}

.modal-button:focus {
  background-color: #615048;
  box-shadow: 0 0 0 4px #68a2ca;
  outline: none;
}

.modal-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.4);
}

.page-main {
  flex-grow: 1;
}

.img-wrapper {
  padding-top: 50px;
  padding-bottom: 80px;
  background-image: url("../images/vector.svg"), url("../images/bg/index-bg.jpg");
  background-size: 100% auto, 100% auto;
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center;
  background-color: #e6e6e6;
}

.advantages {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 63px 240px 38px 240px;
  padding: 0;
}

.advantages-subtitle {
  font-weight: 400;
  font-size: 22px;
  color: #333333;
  margin: 0 240px 89px 240px;
  padding: 0;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  counter-reset: number;
}

.advantages-item {
  width: 33.33%;
  background-color: rgba(131, 179, 211, 0.12);
  color: #000000;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-large,
.advantages-item-large:nth-child(even) {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  width: 100%;
  background-color: #83b3d3;
  color: #ffffff;
  padding: 0;
}

.advantages-item-wrapper {
  padding: 75px;
  padding-top: 98px;
  padding-bottom: 60px;
}

.large-wrapper {
  grid-column: span 1;
}

.advantages-item-img {
  grid-column: span 2;
}

.advantages-item-large:nth-child(even) .advantages-item-img {
  order: -1;
}

.advantages-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
}

.advantages-item-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item-content::before {
  counter-increment: number;
  content: "— №" counter(number) "—";
  display: block;
  margin-bottom: 32px;
}

.advices-list {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  grid-column: 1/4;
  grid-row: 2/3;
}

.advices-item {
  width: 33.33%;
  padding: 75px;
  padding-top: 184px;
  padding-bottom: 89px;
}

.advices-item-housing {
  background-image: url("../images/icons/house.svg");
  background-repeat: no-repeat;
  background-position: 50% 90px;
  background-size: 75px 72px;
}

.advices-item-food {
  background-image: url("../images/icons/food.svg");
  background-repeat: no-repeat;
  background-position: 50% 90px;
  background-size: 75px 72px;
}

.advices-item-gifts {
  background-image: url("../images/icons/gifts.svg");
  background-repeat: no-repeat;
  background-position: 50% 90px;
  background-size: 75px 72px;
}

.advices-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advices-item-icon {
  margin-bottom: 23px;
}

.advices-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
}

.advices-item-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 0;
  margin: 0;
}

.hotel-search {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 90px;
}

.hotel-search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-bottom: 34px;
}

.hotel-search-content {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-bottom: 60px;
  margin-left: 235px;
  margin-right: 245px;
}

.hotel-search-button {
  background-color: #756257;
  border-radius: 10px;
  padding: 11px 150px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-button:hover {
  background-color: #615048;
}

.hotel-search-button:focus {
  box-shadow: inset 0 0 0 4px #68a2ca;
  outline: none;
  background-color: #615048;
}

.hotel-search-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.4);
}

.subscription-form {
  display: grid;
  grid-template-columns: 150px 500px 150px;
  padding: 94px 200px;
  text-align: center;
  color: #ffffff;
  background-image: url("../images/bg/subscription-bg.jpg");
  background-size: cover;
  background-color: #756257;
  background-repeat: no-repeat;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.subscription-content {
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin: 0;
  margin-bottom: 47px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.subscription-field {
  display: flex;
  grid-column: 1/-1;
  grid-row: 3/4;
}

.subscription-box {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 10px 0 0 10px;
  min-width: 600px;
  min-height: 60px;
  padding-left: 20px;
  border: none;
}

.subscription-box:hover {
  background-color: #e5e5e5;
}

.subscription-box:focus {
  background-color: #e5e5e5;
  box-shadow: 0 0 0 4px #83b3d3;
  outline: none;
}

.subscription-box:focus:not(:placeholder-shown) {
  background-color: #ffffff;
  color: #000000;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.subscription-button {
  border-radius: 0 10px 10px 0;
  min-width: 200px;
  min-height: 60px;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.header-filter-wrapper {
  background-image: url("../images/bg/catalog-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #756257;
  padding-top: 35px;
  padding-bottom: 83px;
}

.page-main-header {
  padding: 0 72px;
  margin-bottom: 35px;
}

.page-main-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  background-image: url("../images/icons/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 8px top 50%;
}

.breadcrumbs-link {
  color: #ffffff;
  display: block;
  text-decoration: none;
  padding: 3px 8px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link-home {
  width: 28px;
  min-height: 27px;
  padding-left: 0;
  margin-right: 24px;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-link:hover {
  opacity: 0.4;
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.2;
}

.filter-list {
  padding: 0 72px;
  color: #ffffff;
}

.catalog-filter {
  display: grid;
  grid-template-columns: 220px 310px 345px 180px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog-filter-infrastructure {
  grid-column: 1/2;
}

.catalog-filter-type {
  grid-column: 2/3;
}

.catalog-filter-price {
  grid-column: 3/4;
}

.catalog-filter-button {
  grid-column: 4/5;
  display: grid;
  place-content: end;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item {
  position: relative;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 13px;
}

.catalog-filter-checkbox::before {
  position: absolute;
  top: 2px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.catalog-filter-radio::before {
  position: absolute;
  top: 2px;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 58%;
  background-color: #ffffff;
}

.control {
  display: block;
  position: relative;
}

.control-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-left: 39px;
}

.control-input[type="checkbox"]:checked + .control-item::before {
  position: absolute;
  top: 13px;
  left: 5px;
  width: 6px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(44deg);
}

.control-input[type="checkbox"]:checked + .control-item::after {
  position: absolute;
  top: 12px;
  left: 8px;
  width: 9px;
  height: 2px;
  background-color: #3f5e72;
  content: "";
  transform: rotate(-48deg);
}

.control-input[type="radio"]:checked + .control-item::before {
  position: absolute;
  top: 7px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 58%;
  background-color: #3f5e72;
  content: "";
}

.catalog-inputs-wrapper {
  position: relative;
  display: grid;
  width: 287px;
  grid-template-columns: 1fr 2px 1fr;
}

.catalog-inputs-wrapper::after {
  content: "";
  background-color: #ffffff;
  width: 2px;
  height: 48px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.catalog-filter-label {
  display: flex;
  color: rgba(255, 255, 255, 0.4);
}

.label-for {
  position: absolute;
  top: 12px;
  right: 164px;
}

.label-to {
  position: absolute;
  top: 12px;
  right: 14px;
}

.catalog-filter-input {
  width: 100%;
  padding-top: 12px;
  padding-left: 19px;
  padding-right: 50px;
  padding-bottom: 11px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: start;
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  appearance: textfield;
}

.catalog-inputs-wrapper:hover::after {
  background-color: rgba(255, 255, 255, 0.6);
}

.catalog-inputs-wrapper:hover .catalog-filter-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.catalog-inputs-wrapper:hover .catalog-filter-input:focus {
  border-color: #ffffff;
}

.catalog-filter-input:focus {
  outline: none;
  border-color: #ffffff;
}

.catalog-filter-input:focus:placeholder-shown {
  box-shadow:
       0 0 3px #83b3d3,
       inset 0 0 3px #83b3d3;
}

.catalog-filter-input:focus:not(:placeholder-shown) {
  background-color: #756257;
}

.input-from {
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.input-to {
  grid-column: 3/4;
  grid-row: 1/2;
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.catalog-filter-input::-webkit-outer-spin-button,
.catalog-filter-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.catalog-filter-range {
  margin-top: 32px;
}

.catalog-filter-range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.4);
}

.catalog-filter-range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.catalog-filter-range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.toggle-min {
  top: -9px;
  left: -1px;
}

.toggle-max {
  top: -9px;
  right: -36px;
}

.apply-button {
  padding: 14px 34px;
  margin-bottom: 20px;
}

.reset-button {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  padding: 0 30px;
  cursor: pointer;
}

.hotels-list {
  color: #000000;
  padding: 0 72px;
}

.sorting-wrapper {
  display: grid;
  grid-template-columns: 530px 370px 160px;
  margin-top: 44px;
  margin-bottom: 42px;
}

.sorting-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 6px;
}

.filter-button-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.select-control {
  background-color: #ffffff;
  color: #333333;
  width: 287px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
  padding-left: 12px;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #68a2ca;
  outline: none;
}

.select-control:active {
  border-color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  display: block;
  margin-right: 8px;
  width: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.filter-button:nth-child(3n+3) {
  margin: 0;
}

.filter-button-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.filter-button:hover {
  border-color: #83b3d3;
}

.filter-button:focus {
  border-color: #83b3d3;
  outline: none;
}

.filter-button:active {
  border-color: #000000;
  outline: none;
}

.hotel-card {
  text-align: left;
  display: grid;
  grid-template-columns: 210px 150px 510px 160px;
  grid-template-rows:
    30px
    50px
    40px;
  padding-top: 30px;
  padding-bottom: 30px;
  column-gap: 8px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-wrapper + .hotel-card {
  border-top: 1px solid #e5e5e5;
}

.hotel-card-image {
  grid-column: 1/2;
  grid-row: 1/-1;
  text-decoration: none;
  display: block;
}

.card-image {
  display: block;
}

.hotel-card-image:hover .card-image {
  opacity: 0.6;
}

.hotel-card-image:focus .card-image {
  box-shadow: 0 0 0 4px #68a2ca;
  outline: none;
}

.hotel-card-image:active .card-image {
  opacity: 0.3;
}

.hotel-card-title {
  color: #000000;
  grid-column: 2/4;
  grid-row: 1/2;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-decoration: none;
}

.hotel-card-title:hover {
  color: #756257;
}

.hotel-card-title:focus {
  box-shadow: 0 0 0 4px #83b3d3;
  outline: none;
  color: #756257;
}

.hotel-card-title:active {
  color: rgba(117, 98, 87, 0.4);
}

.card-title {
  margin: 0;
}

.hotel-card-type {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
}

.hotel-card-price {
  grid-column: 3/4;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin: 0;
}

.hotel-stars-mark {
  grid-column: 4/5;
  grid-row: 1/2;
  background-image: url("../images/icons/star.svg");
  background-repeat: space;
  background-position: center;
  background-size: 18px 17px;
}

.four-stars {
  width: 89px;
  height: 17px;
  margin: 5px 30px;
  margin-bottom: 63px;
}

.three-stars {
  width: 71px;
  height: 17px;
  margin: 5px 40px;
  margin-bottom: 63px;
}

.two-stars {
  width: 47px;
  height: 17px;
  margin: 5px 50px;
  margin-bottom: 63px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  grid-column: 4/5;
  grid-row: 3/4;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 10px 20px;
  min-height: 37px;
  margin: 0;
}

.hotel-card-button {
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #756257;
  text-align: center;
  padding: 10px 15px;
}

.hotel-card-button:hover {
  background-color: #615048;
}

.hotel-card-button:focus {
  box-shadow: 0 0 0 3px #83b3d3;
  outline: none;
  background-color: #615048;
}

.hotel-card-button:active {
  background-color: #615048;
  color: rgba(255, 255, 255, 0.4);
}

.favourites-button {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 156px;
}

.favourites-button:hover {
  box-shadow: 0 0 0 1px #756257;
}

.favourites-button:active {
  box-shadow: 0 0 0 1px #756257;
}

.pressed-button {
  background-color: #7db54f;
}

.pressed-button:hover {
  background-color: #6c9e42;
  box-shadow: none;
}

.pressed-button:focus {
  background-color: #6c9e42;
}

.pressed-button:active {
  background-color: #6c9e42;
  color: rgba(255, 255, 255, 0.4);
}

.pagination-download-more {
  display: block;
  margin: 30px auto;
  padding: 14px 240px;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
}

.pagination-wrapper {
  display: flex;
  padding-top: 30px;
  position: relative;
  border-top: 1px solid #e5e5e5;
}

.pagination {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: grid;
  place-content: center;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  min-width: 55px;
  min-height: 55px;
  text-align: center;
  border-radius: 4px;
  margin-bottom: 5px;
}

.pagination-current {
  background-color: #e5e5e5;
  color: #000000;
}

.quantity-wrapper {
  margin-left: auto;
}

.hotel-quantity {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-right: 50px;
}

.select-hotel-quantity {
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  background-color: #ffffff;
  min-width: 160px;
  max-width: 390px;
  min-height: 48px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 13px;
  padding-top: 13px;
  background-image: url("../images/icons/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  appearance: none;
}

.select-hotel-quantity:hover {
  border-color: #68a2ca;
}

.select-hotel-quantity:focus {
  border-color: #68a268;
}

.select-hotel-quantity:active {
  border-color: rgba(0, 0, 0, 0.4);
}

.catalog-subscription-form {
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  background-image: none;
  padding: 200px;
  padding-top: 80px;
  padding-bottom: 138px;
}

.page-footer {
  color: #000000;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.footer-social-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 200px;
  flex-grow: 1;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-link {
  display: grid;
  place-content: center;
  width: 40px;
  height: 40px;
  color: #83b3d3;
}

.footer-social-link:hover {
  color: #68a2ca;
}

.footer-social-link:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
  border-radius: 10px;
  outline: none;
  color: #68a2ca;
}

.footer-social-link:active {
  color: rgba(131, 179, 211, 0.2);
}

.footer-contacts-phone {
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 4px #83b3d3;
  border-radius: 10px;
  outline: none;
}

.footer-contacts-phone:active {
  color: #e5e5e5;
}

.about-text {
  text-align: end;
  margin: auto 0;
  width: 200px;
  flex-grow: 1;
}

.htmlacademy-link {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0;
  color: #000000;
}

.htmlacademy-link:hover {
  color: #756257;
}

.htmlacademy-link:focus {
  box-shadow: inset 0 0 0 4px #83b3d3;
  border-radius: 10px;
  outline: none;
  color: #756257;
}

.htmlacademy-link:active {
  color: #e5e5e5;
}

.popover-favourites {
  position: absolute;
  top: 65px;
  left: -190px;
  z-index: 1;
  box-sizing: border-box;
  width: 400px;
  min-height: 158px;
  padding-bottom: 0;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 20px 20px 20px 20px;
  display: none;
}

.popover-favourites::before {
  position: absolute;
  top: -8px;
  left: 199px;
  content: "";
  background-image: url("../images/icons/popover-triangle.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 9px;
}

/*
.popover-open {
  display: block;
}
*/

.popover-content {
  height: 100%;
  padding: 25px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  border-radius: 20px 20px 0 0;
}

.favourites-list {
  padding: 0;
  margin: 0;
  list-style-type: 0;
}

.favourites-item {
  display: grid;
  grid-template-columns: 288px 45px;
}

.favourites-item:not(:last-child) {
  margin-bottom: 25px;
}

.favourites-hotel {
  display: grid;
  grid-template-columns: 48px 240px;
  grid-template-rows:
    21px
    27px;
  column-gap: 17px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.favourites-hotel:hover {
  opacity: 0.4;
}

.favourites-hotel:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.favourites-hotels-icon {
  display: block;
  grid-column: 1/2;
  grid-row: 1/-1;
}

.favourites-hotel-title {
  grid-column: 2/3;
  grid-row: 1/2;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.favourites-hotel-type {
  grid-column: 2/3;
  grid-row: 2/3;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  color: #333333;
  margin: 0;
}

.delete-button {
  padding: 0;
  grid-column: 2/3;
  grid-row: 1/-1;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.2);
}

.delete-button:hover {
  color: #000000;
}

.delete-button:focus {
  outline: 3px solid #83b3d3;
  border-radius: 5px;
}

.delete-button:active {
  color: rgba(0, 0, 0, 0.1);
}

.popover-favourites-button {
  display: block;
  width: 400px;
  padding: 20px 100px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0 0 20px 20px;
  border: none;
  cursor: pointer;
}

.popover-favourites-button:hover {
  background-color: #615048;
}

.popover-favourites-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  outline: none;
}

.popover-favourites-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal-search {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
  width: 715px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 54px;
  right: 69px;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: #000000;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  color: rgba(0, 0, 0, 0.3);
}

.modal-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.search-form {
  display: grid;
  grid-template-columns: 155px 133px 163px 133px;
  grid-row:
    1fr
    1fr
    1fr;
}

.modal-form-label {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  padding: 5px 0;
}

.arrival-date-label {
  grid-column: 1/2;
  grid-row: 1/2;
}

.arrival-date-field {
  grid-column: 2/5;
  grid-row: 1/2;
  position: relative;
  margin-bottom: 20px;
}

.departure-date-label {
  grid-column: 1/2;
  grid-row: 2/3;
}

.departure-date-field {
  grid-column: 2/5;
  grid-row: 2/3;
  position: relative;
  margin-bottom: 20px;
}

.adults-quantity-label {
  grid-column: 1/2;
  grid-row: 3/4;
}

.adults-quantity-field {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-right: 56px;
}

.children-quantity-label {
  grid-column: 3/4;
  grid-row: 3/4;
  position: relative;
  margin-left: 54px;
}

.children-quantity-field {
  grid-column: 4/5;
  grid-row: 3/4;
}

.field {
  width: 100%;
  padding: 15px 20px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  height: 50px;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
}

.field[type="text"]:hover {
  background-color: #e6e6e6;
}

.field[type="text"]:focus {
  outline: 3px solid #83b3d3;
}

.field[type="text"]:focus:not(:placeholder-shown) {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
  outline: none;
}

.arrival-date-field-caption {
  margin: 0;
  padding: 0;
  color: #ff5757;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.departure-date-field-caption {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
}

.calendar-button {
  position: absolute;
  top: 20px;
  right: 19px;
  padding: 0;
  margin: 0;
  border: none;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f2f2f2;
  cursor: pointer;
}

.field[type="number"] {
  appearance: textfield;
  text-align: center;
}

.quantity-field {
  position: relative;
}

.quantity {
  display: grid;
  place-content: center;
  width: 19px;
  height: 19px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

.quantity:hover {
  color: #000000;
}

.quantity:focus {
  color: #000000;
  outline: 3px solid #83b3d3;
}

.quantity:active {
  color: rgba(0, 0, 0, 0.2);
}

.quantity-minus {
  top: 15px;
  left: 19px;
}

.quantity-plus {
  top: 15px;
  right: 19px;
}


.info-button {
  width: 25px;
  height: 25px;
  border-radius: 58%;
  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
}

.info-button:hover {
  background-color: #68a2ca;
}

.popover-info {
  position: absolute;
  top: 60px;
  left: -60px;
  box-sizing: border-box;
  width: 256px;
  padding: 15px;
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  display: none;
}

.popover-info::before {
  position: absolute;
  top: -9px;
  left: 112px;
  content: "";
  background-image: url("../images/icons/popover-tr.svg");
  background-repeat: no-repeat;
  width: 19px;
  height: 9px;
}

.popover-info-content {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.modal-search-button {
  grid-column: 1/-1;
  margin-top: 40px;
  padding: 15px 250px;
  border-radius: 10px;
}
