.advantages {
  background-image: url("images/main-index/index-bg.jpg");
}

.subscription-form {
  background-image: url("images/main-index/subscription-bg.jpg");
}

.filter-list {
  background-image: url("images/catalog/catalog-bg.jpg");
}
